/calculator/nbproject/
/SimpleProgramTest/nbproject/private/
/Baitoantamgiac/nbproject/private/
/TriangleClassifier/nbproject/private/
/TriangleClassifier/build/
/TriangleClassifier1/target/
/TriangleClassifierTest/nbproject/private/
/TriangleClassifierTest/build/
